

<div class="form-wrapper" style="margin: 0;">
  <%= simple_form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
      <div class="post">
        <h3 class="title">There are <%= pluralize(@post.errors.count, 'error') %></h3>
        <% @post.errors.full_messages.each do |message| %>
          <p class="author"><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="form-wrapper" style="margin: 5% 10%;">
      <h1 class="title">New Post</h1>
      <%= f.input_field :title, label: false, placeholder: 'Title', class: 'input-class', style: 'margin: 0; width: 100%;' %>
      <%= f.text_area :body, label: false, placeholder: 'Write your post', class: 'text-area', style: 'width: 250%; height: 30vh;' %>
      <%= f.submit 'Submit Post', style: 'width: 50%;' %>
    </div>
  <% end %>
</div>