<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-wrapper">
      <div class="nav-wrapper">
        <div class="left">
          <span><%= link_to 'Home', root_path %></span>
        </div>
        <div class="right">
          <% if current_user %>
            <span><%= link_to 'New Post', new_post_path %></span>
            <span><%= link_to 'Log out', logout_path %></span>
            <% else %>
            <span><%= link_to 'New Post', new_post_path %></span>
            <span><%= link_to 'Log in', login_path %></span>
          <% end %>
        </div>
      </div>
    </div>
    <div id="flex-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
