<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex-wrapper">
      <div class="nav-wrapper">
        <div class="left">
          <span><%= link_to 'Home', root_path %></span>
        </div>
        <div class="right">
          <span>New Post</span>
          <span>Log in</span>
        </div>
      </div>
    </div>
    <div id="flex-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
